<app-header></app-header>
<div id="input" class="container"
     style="border: 1px solid; box-shadow: -10px 0px 10px -5px rgba(0, 0, 0, 0.75), 10px 0px 10px -5px rgba(0, 0, 0, 0.75); padding: 10px; border-radius:5px">
  <h3>Infor Customer</h3>
  <form class="row g-3" [formGroup]="reactiveForm" (ngSubmit)="update()" *ngIf="customerTypes">
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Name</label>
      <input type="text" class="form-control" id="inputEmail4" formControlName="name">
      <p style="color: red" *ngIf="reactiveForm.controls.name.hasError('required')&&reactiveForm.controls.name.dirty">Không được để trống</p>
    </div>
    <div class="col-md-3">
      <label for="inputPassword4" class="form-label">DateOfBirth</label>
      <input type="date" class="form-control" id="inputPassword4" formControlName="dateOfBirth">
    </div>
    <div class="col-6">
      <label for="inputAddress" class="form-label">PhoneNumber</label>
      <input type="number" class="form-control" id="inputAddress" placeholder="1234 Main St" formControlName="phoneNumber">
    </div>
    <div class="col-6">
      <label for="inputAddress2" class="form-label">Id Card</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor" formControlName="idCard">
    </div>
    <div class="col-md-6">
      <label for="inputCity" class="form-label">Email</label>
      <input type="email" class="form-control" id="inputCity" formControlName="email">
    </div>
    <div class="col-md-4">
      <label for="inputState" class="form-label">Customer Type</label>
      <select  id="inputState" class="form-select" formControlName="customerType">
        <option *ngFor="let item of customerTypes" [ngValue]="item">{{item.name}}</option>
      </select>
    </div>
    <div class="col-md-2">
      <label for="inputZip" class="form-label">City</label>
      <input type="text" class="form-control" id="inputZip" formControlName="address">
    </div>
    <div>
      <input type="radio" formControlName="gender" value="Nam">Nam
      <input type="radio" formControlName="gender" value="Nữ">Nữ
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
<app-footer></app-footer>
