<app-header></app-header>
<h4 style="font-family: Algerian; text-align: center; font-size:50px">Customer</h4>
<div>
  <form>
    <input type="text" #nameCustomer class="form-control" placeholder="Enter your name">
    <input type="submit" (click)="search(nameCustomer.value)" value="Search" class="btn btn-primary">
  </form>
</div>
<table class="table table-striped">
  <thead class="thread-dark">
    <tr>
      <th>Name</th>
      <th>DayOfBirth</th>
      <th>Gender</th>
      <th>Phone</th>
      <th>IdCard</th>
      <th>Email</th>
      <th>Customer Type</th>
      <th>Address</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customers of customer | paginate : {itemsPerPage : 1,currentPage : p}">
      <td>{{customers.name}}</td>
      <td>{{customers.dateOfBirth  | date :"dd/MM/yyyy"}}</td>
      <td>{{customers.gender}}</td>
      <td>{{customers.phoneNumber}}</td>
      <td>{{customers.idCard}}</td>
      <td>{{customers.email}}</td>
      <td>{{customers.customerType.name}}</td>
      <td>{{customers.address}}</td>
      <td><button class="btn btn-info"><a style="text-decoration: none; color: black" [routerLink]="['/customer/edit',customers.id]">Edit</a></button></td>
      <td><button class="btn btn-danger"><a style="text-decoration: none; color: black" [routerLink]="['/customer/delete',customers.id]">Delete</a></button></td>
    </tr>
  </tbody>
</table>
<pagination-controls class="pagination justify-content-center"
                     previousLabel=""
                     nextLabel=""
                     ellipsisLabel="..."
                     (pageChange)="p = $event">
</pagination-controls>
<app-footer></app-footer>

